html, body {
  margin:0px;
}

#root > div {
  height:100%;
  text-align: center;
  font-size: 40px;
  padding-top: 25%;
  background-color: red;
}

button {
  width: 25%;
  height: 10%;
  font-size: 1em;
  text-align: center;
}
